In [2]:
import numpy as np
import pandas as pd

In [3]:
df1=pd.read_csv('dia_3.csv')

In [4]:
df1.head()

  _id                                           diagnose
0   5  ACE inhibitor induced cough
blood pressure med...
1  14  Acute angle closure glaucoma
increased inner e...
2  25                                         Alcoholism
3  26                                  Allergic reaction
4  71                                 Autoimmune disease

In [5]:
df2=pd.read_csv('dia_t.csv')

In [6]:
df2.head()

   did                                           diagnose
0    1  Abdominal aortic aneurysm
(enlarged major bloo...
1    2                                 Abdominal swelling
2    3                                   Abdominal trauma
3    4                               Abrasions
 (scrapes)
4    5  ACE inhibitor induced cough
blood pressure med...

In [7]:
df3=pd.read_csv('diagn_title.csv')

In [8]:
df3.head()

    id                                              title
0  2.0                                 Abdominal swelling
1  3.0                                   Abdominal trauma
2  4.0                               Abrasions
 (scrapes)
3  5.0  ACE inhibitor induced cough
blood pressure med...
4  6.0  acetaminophen overdose
Adverse reaction to ace...

In [9]:





df4=pd.read_csv('diffsydiw.csv')

In [10]:
df4.head()

   syd    did  wei
0  1.0  163.0  2.0
1  1.0  164.0  2.0
2  1.0  165.0  1.0
3  1.0  187.0  2.0
4  1.0  306.0  2.0

In [11]:
df5=pd.read_csv('sym_3.csv')

In [12]:
df5.head()

   _id                symptom
0    1   Upper abdominal pain
1    2   Lower abdominal pain
2    4          Alcohol abuse
3    5  Anxiety (Nervousness)
4    6       Arm ache or pain

In [13]:
df6=pd.read_csv('sym_t.csv')

In [14]:
df6.head()

   syd                      symptom
0    1         Upper abdominal pain
1    2         Lower abdominal pain
2    3  Abscess (Collection of pus)
3    4                Alcohol abuse
4    5        Anxiety (Nervousness)

In [15]:
df7=pd.read_csv('symptoms2.csv')

In [16]:
df7.head()

,_id,chief_complaint_id,chief_complaint_name_id,name,reason_code,life_threatening,msp_enabled,primary_complaint,diagnosis_count
0,1,1,1,Upper abdominal pain,15453.0,0.0,1.0,1.0,44
1,2,1,2,Upper belly pain,15453.0,0.0,1.0,NaN,44
2,4,2,4,Lower abdominal pain,15452.0,0.0,1.0,1.0,48
3,5,2,5,Lower belly pain,15452.0,0.0,1.0,NaN,48
4,6,3,6,Abscess (Collection of pus),NaN,NaN,NaN,NaN,17

In [17]:
df8=pd.read_csv('sym_dis_matrix.csv')

In [18]:
df8.head()

,eye,5.0,14.0,25.0,26.0,71.0,82.0,85.0,98.0,107.0,...,1365.0,1367.0,1395.0,1397.0,1461.0,1473.0,1475.0,1479.0,1483.0,1511.0
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

  _id                                           diagnose  did
0   5  ACE inhibitor induced cough
blood pressure med...    5
1  14  Acute angle closure glaucoma
increased inner e...   14
2  25                                         Alcoholism   25
3  26                                  Allergic reaction   26
4  71                                 Autoimmune disease   71

,_id,symptom,syd,chief_complaint_id,chief_complaint_name_id,name,reason_code,life_threatening,msp_enabled,primary_complaint,diagnosis_count
0,1,Upper abdominal pain,1,1,1,Upper abdominal pain,15453.0,0.0,1.0,1.0,44
1,2,Lower abdominal pain,2,1,2,Upper belly pain,15453.0,0.0,1.0,NaN,44
2,4,Alcohol abuse,4,2,4,Lower abdominal pain,15452.0,0.0,1.0,1.0,48
3,5,Anxiety (Nervousness),5,2,5,Lower belly pain,15452.0,0.0,1.0,NaN,48
4,6,Arm ache or pain,6,3,6,Abscess (Collection of pus),NaN,NaN,NaN,NaN,17
...,...,...,...,...,...,...,...,...,...,...,...
88,226,Hand redness,226,164,243,Incoordination,NaN,NaN,NaN,NaN,24
89,227,Foot redness,227,164,244,Ataxia (Incoordination),NaN,NaN,NaN,NaN,24
90,228,Arm redness,228,164,245,Loss of coordination,NaN,NaN,NaN,NaN,24
91,230,Hand itching,230,165,247,Bleeding in brain,NaN,NaN,NaN,NaN,11
92,234,Armpit pain,234,112,251,Blurry vision,13052.0,0.0,0.0,NaN,56

In [33]:
a=pd.merge(df4,df6)
b=a.merge(df2)
c=b.merge(df1)
diagnosis=c.drop(['wei','syd','_id','did'],axis=1)
diagnosis

,symptom,diagnose
0,Upper abdominal pain,Cholecystitis inflammation of the gallbladder
1,Lower abdominal pain,Cholecystitis inflammation of the gallbladder
2,Back ache or pain,Cholecystitis inflammation of the gallbladder
3,Fever,Cholecystitis inflammation of the gallbladder
4,Flank pain,Cholecystitis inflammation of the gallbladder
...,...,...
642,Jaundice (Yellowing skin),Gilbert's disease liver abnormality
643,Unusual color or odor of urine,Gilbert's disease liver abnormality
644,Jaundice (Yellowing skin),Newborn jaundice newborn skin discoloration
645,Visual flashing lights,Posterior vitreous detachment common eye abnor...
646,Eye floaters,Posterior vitreous detachment common eye abnor...

In [34]:
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X=diagnosis['symptom']
y=diagnosis['diagnose']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)